		.header {font-size: 30px; color:#FF0000} 
		.head1 {padding:20px;background-color:#EFEFEF}
		.on_top {padding-top:20px}
		@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css" ) ;
		body, h1, h2, h3, h4, h5, h6, li, p { font-family:"Nanum Gothic","NanumGothic" !important ; }
